@use './styles/variables' as *;
@use './styles/mixins' as *;

.app {
  min-height: 100vh;

  &__footer {
    background: $primary;
    color: $text-light;
    text-align: center;
    padding: $spacing-lg;
    font-size: $font-size-base;
    font-weight: 300;
    letter-spacing: 0.05em;
  }
}
